<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancelamento do Pagamento</title>
</head>
<body>
    <h1>Cancelamento do Pagamento</h1>
    <p>O pagamento foi cancelado. Por favor, tente novamente.</p>
    <!-- Adicione aqui qualquer conteúdo adicional desejado, como instruções para o usuário, etc. -->
</body>
</html>
