<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso no Pagamento</title>
</head>
<body>
    <h1>Pagamento Realizado com Sucesso!</h1>
    <p>Obrigado por sua compra. Seu pedido foi processado com sucesso.</p>
    <!-- Adicione aqui qualquer conteúdo adicional desejado, como detalhes do pedido, etc. -->
</body>
</html>
